   header,footer{
    background-color:#c0ffff;
    color:white;
  }
  body {
    display: none;
    margin: 0;
    background: linear-gradient(to bottom, #001e43 0%, #C06645 100%);/*³‹K‚ÌŽw’è*/
  }

  #loader-bg {/*ƒ[ƒh‰æ–Ê‚ÌƒXƒ^ƒCƒ‹*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 1;
  }
  #loader-bg #loader {/*ƒ[ƒh‰æ–Ê‚ÌƒXƒ^ƒCƒ‹*/
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 2;
  }

  #header_content{
    position: absolute;
    left: 50%;
    top: 10px;
    color: #26F53A;
    font-size: 10.0em;
  }

  h1{/*ƒ^ƒCƒgƒ‹*/
    font-family:gŸà–¾’©h, YuMincho, gƒqƒ‰ƒMƒm–¾’© ProN W3h, gHiragino Mincho ProNh, serif;
    background-image: url("img/crayonline.png"); 
    font-size: 3.5em;
    text-shadow: 3px 3px 1px #000;
    background-size: 100% 120%;
  }
  #main_contents {/* –{•¶(¬Œ©o‚µˆÈŠO) */
    margin: 5% 10% 5% 10%;
    font-family: "Yu Gothic UI","Meiryo UI","ƒqƒ‰ƒMƒmŠpƒS Pro W3", sans-serif;
    color: #FFFFFF;
  }
  .main_contents_h{/* –{•¶¬Œ©o‚µ */
    text-align:left;
    font-size: 2.0em
  }
  #time{/* ŽžŒv */
    text-align:center;
    font-size: 2.0em
  }
  table {/*•\‘S‘Ì*/
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom:0%; 
    border-collapse: collapse;
    text-align: center;
    border: solid 2px #2F2F2F;/*•\‘S‘Ì‚ðü‚ÅˆÍ‚¤*/
    background-color:white;
    box-shadow:0px 0px 10px;/*‰e*/
  }
  table thead{/*•\‚Ìˆê”Ôã‚ÌƒZƒ‹*/
    padding: 10px;
    background-color:white;
    font-weight: bold;
    font-size: 1.5em;
  }
  table td {/*‚»‚Ì‘¼‚ÌƒZƒ‹*/
    padding: 10px;
    width: 150px;
    border-collapse: collapse;
    border: solid 1px #2F2F2F;
    color: #000000;
  }

  #sitemap{
    position: relative;
    padding-top: 30%;
    padding-right: 0;
    padding-bottom: 0%;
    padding-left: 0;
    margin: 0;
    background-color: #2F2F2F;
  }
  #le{
    float: left;
    position: absolute;
    bottom: 15%;
    left: 10%;

    margin-left: 5%;
    margin-bottom: 0%;
    margin-top:  5%;

  }
  #ri{
    float: right;
    position: absolute;
    bottom: 15%;
    right: 0%;

    margin-right: 5%;
    margin-bottom: 0%;
    margin-top:  5%;

  }
  li{
    padding-top:1%; 
    padding-bottom:1%;
    padding-right: 40%;
    font-size: 1.25em;
    list-style:none;
  }
  a{
    text-decoration: none;
    color: white;
  }
  #footer {/* ƒtƒbƒ^[ */
    text-align: center;
    font-size: 1.0em;
    font-family: "Yu Gothic UI","Meiryo UI","ƒqƒ‰ƒMƒmŠpƒS Pro W3", sans-serif;
    color: #fff;
    background-color: #2F2F2F;

    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
/*#page-top a {
    display: table-cell;
    width: 6em;
    height: 6em; 
    adding: 5%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 1.2em;
    line-height: 1;
    border-radius: 50%;
    background: rgba(88,82,82,0.5);
    behavior: url(PIE.htc);
    text-decoration: none;
    }*/

/*ドロップダウンメニュー関連*/
    #dropmenu{
  list-style-type: none;
  width: 100%;
  height: 40px;
  margin: 0px auto 300px;
  padding: 0;
  background: #8a9b0f;
  border-bottom: 5px solid #535d09;
  border-radius: 3px 3px 0 0;
}
#dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#dropmenu li:hover > a{
  background: #6e7c0c;
  color: #eff7b1;
}
#dropmenu > li:hover > a{
  border-radius: 3px 3px 0 0;
}
#dropmenu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 3px 3px;
}
#dropmenu li:last-child ul{
  left: -100%;
  width: 100%
}
#dropmenu li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#dropmenu li ul li a{
  padding: 13px 15px;
  background: #6e7c0c;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-top: 1px solid #7c8c0e;
  border-bottom: 1px solid #616d0b;
}
#dropmenu li:hover ul li:first-child{
  border-top: 0;
}
#dropmenu li:hover ul li:last-child{
  border-bottom: 0;
}
#dropmenu li:hover ul li:last-child a{
  border-radius: 0 0 3px 3px;
}
